@model BreadcrumbComponentViewModel
<nav aria-label="@Model.AriaLabel" class="breadcrumbs">
  <ol>
@foreach (var item in Model.Items)
{
    if (item.IsActive || string.IsNullOrWhiteSpace(item.Url))
    {
    <li class="@(item.IsActive ? "active" : string.Empty)">@item.Text</li>
    }
    else
    {
    <li><a href="@item.Url" title="@item.Title">@item.Text</a></li>
    }
}
  </ol>
</nav>
