@model CardComponentViewModel
<div class="card">
  <div class="card-body bg-gray-50">
    <h3 class="h4 m-y-sm">@Model.Title</h3>
    <p class="m-b">@Model.Body</p>
@if (!string.IsNullOrWhiteSpace(Model.ButtonText) && !string.IsNullOrWhiteSpace(Model.ButtonUrl))
{
    <a class="btn btn-primary p-x-md" href="@Model.ButtonUrl">
      @Model.ButtonText
@if (!string.IsNullOrWhiteSpace(Model.ButtonSrOnlyText))
{
      <span class="sr-only"> @Model.ButtonSrOnlyText</span>
}
    </a>
}
  </div>
</div>
